{% extends "bs_usr.html" %}

<!-- CONTENIDO -->
{% block contenido %}
        <div class="row" style="background-color: rgba(250, 250, 200,0.5); width: 70%; padding: 1% 0% 1% 0%; margin-top: 1.5%;">
            <h4 style="text-align: center;"> Interactuando con mis pensamientos decido que hacer </h4>
            <article class="col s12">

                <div class="full-width center-align">

                    <a href="/mod1">
                    <div class="tile efecto-pulse-no">
                        <div class="tile-icon"><i class="zmdi zmdi-star-circle"></i></div>
                        <div class="tile-caption">
                            <br>
                            <span class="center-align">Iniciar </span>                            
                        </div>
                        <a href="/mod1" class="tile-link waves-effect waves-light">Iniciar Módulo &nbsp; <i class="zmdi zmdi-caret-right-circle"></i></a>
                    </div>
                    </a>

                </div>
            </article>
        </div>


        <div class="row" style="background-color: rgba(190, 230, 190,0.5); width: 70%; padding: 1% 0% 1% 0%; margin-top: 1.5%;">
            <h4 style="text-align: center;"> Me controlo para no hacerle daño a los demas </h4>
            <article class="col s12">

                <div class="full-width center-align">

                    <a href="/mod2">
                    <div class="tile efecto-pulse-no">
                        <div class="tile-icon"><i class="zmdi zmdi-star-circle"></i></div>
                        <div class="tile-caption">
                            <br>
                            <span class="center-align">Iniciar </span>                            
                        </div>
                        <a href="/mod2" class="tile-link waves-effect waves-light">Iniciar Módulo &nbsp; <i class="zmdi zmdi-caret-right-circle"></i></a>
                    </div>
                    </a>

                </div>
            </article>
        </div>


        <div class="row" style="background-color: rgba(150, 190, 240,0.5); width: 70%; padding: 1% 0% 1% 0%; margin-top: 1.5%;">
            <h4 style="text-align: center;"> Me relajo para no tener emociones perturbadoras </h4>
            <article class="col s12">

                <div class="full-width center-align">

                    <a href="/mod3">
                    <div class="tile efecto-pulse-no">
                        <div class="tile-icon"><i class="zmdi zmdi-star-circle"></i></div>
                        <div class="tile-caption">
                            <br>
                            <span class="center-align">Iniciar </span>                            
                        </div>
                        <a href="/mod3" class="tile-link waves-effect waves-light">Iniciar Módulo &nbsp; <i class="zmdi zmdi-caret-right-circle"></i></a>
                    </div>
                    </a>

                </div>
            </article>
        </div>
{% endblock %}
<!-- CONTENIDO -->